*{
    margin: 0px;
    font-family: "inter";
}

#MenuSuperior{
    background-image: url(Imagens/fundoMenuSuperior.svg);
    color: aliceblue;
}

#logo{
    margin-top: 50px;
    margin-left: 75px;
}

#tituloMenuSuperior{
    margin-top: 50px;
    margin-left: 150px;
}

#textoMenuSuperior{
    margin-top: 25px;
    margin-left: 150px; 
    padding-bottom: 100px;
}

#MenuInformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 10px;
}

.textoInformativo{
    display: flex;
    align-items: center;
}

#secaoVideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#tituloVideo{
    color: #247ba0;
    margin-top: 50px;
}

#video{
    margin: 25px 25px 50px 100px;
}

#secaoCarrossel{
    background-color:#247BA0;
    padding: 50px;
}

#tituloCarrossel{
    color: #eaece5;
    text-align: center;
    font-size: 25px;
}

#divCards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column; 
    columns: auto;
}

.card{
    margin-left: 50px;
}

#setaEsquerda{
    display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 75%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#secaoFormulario{
    text-align: center;
}

#tituloFormulario{
    color: #383838;
    margin: 25px;
    font-size: 25px;
}

input{
    width: 300px;
    height: 40px;
    background-color: #eaece5;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    width: 250px;
    height: 40px;
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.4s;
}